<div class="sign-box">
  <h2>Create New Password</h2>
  <br />

  <div style="margin-left: 28%;">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br />
  </div>
    <div style="margin-left: 31%;">
        <div class="button">
      <div class="actions">
            <br />
            <%= f.submit "SEND", class: "button btn" %>
      </div>
    </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
    </div>

</div>
